/* ============
   global styling
   ============*/

* {
    box-sizing: border-box;
    margin: 0;
}

:root {
--Red: hsl(1, 90%, 64%);
--Blue: hsl(219, 85%, 26%);
--White: hsl(0, 0%, 100%);
--Verylightgrayishblue: hsl(210, 60%, 98%);
--Lightgrayishblue1: hsl(211, 68%, 94%);
--Lightgrayishblue2: hsl(205, 33%, 90%);
--Grayishblue: hsl(219, 14%, 63%);
--Darkgrayishblue: hsl(219, 12%, 42%);
--Verydarkblue: hsl(224, 21%, 14%);
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    Font-size: 12px;
    background-color: var(--White);
    height: 100vh;
    overflow: hidden;
}

.container {
    padding: 1rem;
    max-width: 600px;
    margin:auto;
    
}

/* ============
   nav
   ============*/

.nav,
.nav-notification-wrapper {
    display:flex;
    align-items: center;
    gap: 1rem;
}

.nav {
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.notif-count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
    background-color: var(--Blue);
    border-radius: 5px;
    font-weight: 800;
    color: var(--White)
}

/* ============
   colors
   ============*/

   .nav__mark {
    color: var(--Darkgrayishblue);
    
   }

   .box-bg-color {
    background-color: var(--Verylightgrayishblue);
   }


   /* ============
   box
   ============*/

   .box {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    padding-inline: .3rem;
   }

   .box__message {
    display: flex;
    gap:.8rem;
    justify-content: left;
    align-items: start;
    
    border-radius: 5px;
    padding: .8rem .8rem 1.2rem;
    color: var(--Darkgrayishblue);
    line-height: 1rem;
   }

   .message-image {
    width: 40px;
   }

   .message-writer {
    font-weight: 800;
    color: var(--Verydarkblue)
   }

   .message-time {
    margin-top: .2rem;
    color: var(--Grayishblue);
   }

   .message-action {
        color: var(--Darkgrayishblue);
        font-weight: 800;
   }

   .chess {
    color: var(--Blue);
    font-weight: 800;
   }

   .nav__mark:hover,
   .message-writer:hover,
   .chess:hover {
    color: var(--Blue);
    cursor: pointer;
   }

   .message-private {
    margin-left: 115px;
    border: 2px solid var(--Lightgrayishblue1);
    padding: 1rem;
    line-height: 1rem;
    border-radius: 5px;
    color: var(--Darkgrayishblue)
   }

   .message-private:hover {
    background-color: var(--Lightgrayishblue1);
    cursor: pointer;
   }
   
   .red-circle {
    display: inline-block;
    background-color: var(--Red);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-left: 5px;
/*     margin-top: 5px; */
   }


/* ============
   for javascript
   ============*/
   .hidden {
    display: none;
   }

   @media (min-width: 600px) {
    body {
        background-color: var(--Verylightgrayishblue);
    }
    .container {
        background-color: var(--White) ;
        box-shadow: 0 0 20px rgb(219, 219, 219);
        border-radius: 10px;
        transform: scale(.80);
    }
   }